/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid purple; /* Purple bottom border */
    box-shadow: 0 4px 6px rgba(128, 0, 128, 0.5); /* Purple shadow effect */
}

/* Ensure no extra margin is applied to the navbar items */
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

/* Navbar brand styles */
.navbar-brand img {
    height: 40px;
    /* Adjust the logo height */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

/* Set nav-item text to bold black */
.navbar-nav .nav-link {
    font-family: 'Arial Bold', sans-serif;
    /* Change to your desired font */
    font-size: 16px;
    /* Adjust the size as needed */
    color: black;
    /* Font color */
    letter-spacing: 1px;
    /* Spacing between letters */
}

.navbar-nav .nav-item .nav-link:hover {
    color: purple;
    /* Color on hover */
    border-bottom: 2px solid purple;
}

/* Style for the active link */
.navbar-nav .nav-item .nav-link.active {
    color: purple;
    /* Color for the active link */
    font-weight: bold;
    /* Make the text bold */
    border-bottom: 2px solid purple;
    /* Underline for the active link */
    

}

/* Custom styles for the toggle button */
.navbar-toggler {
    border: none;
}


.navbar-toggler .fas {
    color: purple; /* Change icon color */
    font-size: 1.5rem; /* Adjust icon size */
}

/* GitHub button styles */
.github-btn{
    background-color: purple;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    margin-left: 20px;
}

.linkedin-btn{
    background-color: purple;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    margin-right:20px;
}
.github-btn:hover, .linkedin-btn:hover {
    background-color: white;
    /* Darker shade of purple for hover effect */
    color: purple;
    border: 2px solid purple;
}

.github-btn i , .linkedin-btn i{
    margin-right: 5px;
}

/* Center the nav-items and GitHub button in mobile view */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .github-btn {
        margin: 10px 0;
        /* Adjust margin to align with other items */
    }
}

/* Section styles */
section {
    padding: 300px 0;
    /* Add padding to the sections */
}

.container {
    max-width: 1200px;
    /* Adjust container width */
    margin: 0 auto;
    /* Center the container */
}

h1 {
    margin-bottom: 20px;
    /* Space below the section headings */
}